<div class="content-form">
        <h3>Bir Yorum Yapın</h3>
        <form method="post">
            <input type="hidden" placeholder="ID" name="YurtApartID" value="@ViewBag.degerler" required />
            <input style="background-color:blanchedalmond" type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
            <input style="background-color:blanchedalmond" type="text" placeholder="Mail Adresi" name="Mail" required />
            <textarea style="background-color:blanchedalmond" placeholder="Yorum" name="Yorum" required></textarea>
            <input type="submit" value="GÖNDER" />
        </form>
    </div>
