@using Yurt_Apart_Bul.Models.Siniflar
@model List<Sehirler>
<div class="padding">
    <h4>Favori 10 Şehir</h4>
    <ul class="list list-pad">
        <li class="list-bg1"><span>1.</span><a href="/Default/Bilecik">Bilecik</a></li>
        <li class="list-bg1"><span>2.</span><a href="/Default/Eskisehir">Eskişehir</a></li>
        <li class="list-bg1"><span>3.</span><a href="/Default/Istanbul">İstanbul</a></li>
        <li class="list-bg1"><span>4.</span><a href="/Default/Izmir">İzmir</a></li>
        <li class="list-bg1"><span>5.</span><a href="/Default/Ankara">Ankara</a></li>
        <li class="list-bg1"><span>6.</span><a href="/Default/Sakarya">Sakarya</a></li>
        <li class="list-bg1"><span>7.</span><a href="/Default/Antalya">Antalya</a></li>
        <li class="list-bg1"><span>8.</span><a href="/Default/Kocaeli">Kocaeli</a></li>
        <li class="list-bg1"><span>9.</span><a href="/Default/Bursa">Bursa</a></li>
        <li class="list-bg1"><span>10.</span><a href="/Default/Konya">Konya</a></li>

    </ul>
</div>
