@using Yurt_Apart_Bul.Models.Siniflar
@model List<Universiteler>
<div class="padding">
    <h4>Favori 10 Üniversite</h4>
    <ul class="list list-pad">
        <li class="list-bg1"><span>1.</span><a href="/Default/Bilecik">Bilecik Şeyh Edebali Üniversitesi</a></li>
        <li class="list-bg1"><span>2.</span><a href="/Default/Eskisehir">Anadolu Üniversitesi</a></li>
        <li class="list-bg1"><span>3.</span><a href="/Default/Istanbul">İstanbul Teknik Üniversitesi</a></li>
        <li class="list-bg1"><span>4.</span><a href="/Default/Izmir">Ege Üniversitesi</a></li>
        <li class="list-bg1"><span>5.</span><a href="/Default/Ankara">Hacettepe Üniversitesi</a></li>
        <li class="list-bg1"><span>6.</span><a href="/Default/Sakarya">Sakarya Üniversitesi</a></li>
        <li class="list-bg1"><span>7.</span><a href="/Default/Antalya">Akdeniz Üniversitesi</a></li>
        <li class="list-bg1"><span>8.</span><a href="/Default/Kocaeli">Kocaeli Üniversitesi</a></li>
        <li class="list-bg1"><span>9.</span><a href="/Default/Bursa">Uludağ Üniversitesi</a></li>
        <li class="list-bg1"><span>10.</span><a href="/Default/Konya">Necmettin Erbakan Üniversitesi</a></li>

    </ul>
</div>
